/*============================================================
    welcome
============================================================ */
/* #region || welcome */
/* Table Of Contents





welcome
imports
resets
theme
\\light mode
\\dark mode
layout

headings
type scale

buttons
navigation

animations
media queries







INSPIRATION

*/
/* =============================================
    END welcome
============================================= */
/* #endregion || welcome */






/*============================================================
    imports
============================================================ */
/* #region || imports */

/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap"); */
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"); */

/* @import url("./normalize.css?v=000"); */
/* @import url("./html5boilerplate.css?v=000"); */
/* @import url("./mediaqueries.css?v=000"); */


/* =============================================
    END imports
============================================= */
/* #endregion || imports */





/*============================================================
    resets
============================================================ */
/* #region || resets */


ul[class] {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


ul[class] li {
    margin: 0;
    font-size: inherit;
}


ul[class] a {
    text-decoration: inherit;
    color: inherit;
}


button, input, select {
    color: inherit;
}

button, input[type=button] {
    font: inherit;
    font-size: inherit;
}

.material-icons {
    font-size: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}



/* =============================================
    END resets
============================================= */
/* #endregion || resets */






/*============================================================
    theme
============================================================ */
/* #region || theme */


:root {

    --slider-color: #6e6e6e;
    
    --color-primary: #fcfcfc;
    --color-secondary: #747474;
    --color-accent: #18810e;

    --rateColor0: #FF8080;
    --rateColor1: #80FF80;
    --rateColor2: #8080FF;
    --rateColor3: #60F5FF;
    --rateColor4: #FCAF54;

    --color-neutral-100: hsl(0, 0%, 90%);
    --color-neutral-300: hsl(0, 0%, 70%);
    --color-neutral-500: hsl(0, 0%, 50%);
    --color-neutral-900: hsl(214, 6%, 24%);

    --font-color-light: var(--color-neutral-100);
    --font-color-dark: var(--color-neutral-900);
    --border-color-primary: var(--color-neutral-500);

    --font-size-4xl: 4em;
    --font-size-3xl: 3em;
    --font-size-2xl: 2em;
    --font-size-xl: 1.5em;
    --font-size-lg: 1.17em;
    --font-size-md: 1em;
    --font-size-sm: .83em;
    --font-size-xs: .76em;
    --font-size-2xs: .67em;

    --font-size-scaled: clamp(1.5em, 5vw, 2.5em);

    --site-width: clamp(320px, 100%, 900px);
    --site-content-width: clamp(320px, 100%, 700px);
}


html {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.2;
    color: var(--font-color-dark);
}

body {
    /* background-color: var(--color-neutral-100); */
}


h1,h2,h3,h4,h5,h6 {
    color: var(--font-color-dark);
}





/* #region || light mode */
@media (prefers-color-scheme: light ) {

}
/* #endregion || light mode */




/* #region || dark mode */
/* @media (prefers-color-scheme: dark ) {} */
/* #endregion || dark mode */



/* .colorpop {
    transition: all 200ms ease-out;
} */

.positive {
    background-color: #ddffd6;

}

.negative {
    background-color: #ffd6d6;
}


.active {
    background-color: rgba(0,0,0,.08);
}

/* =============================================
    END theme
============================================= */
/* #endregion || theme */





/* ============================================================
    3. site header
============================================================ */
/* #region || site header */

.header-wrapper {
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 -1px 4px 0px lightgrey;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    width: var(--site-width);
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-group-btn {
    color: var(--font-color-dark);
    font-size: clamp(1.9em, 6vw, 3em);
    cursor: pointer;
    user-select: none;
    margin: 5px;
}

.site-icon {
    width: clamp(30px, 5vw, 40px);
    /* width: 40px; */
    margin: 5px;
    background-color: #8e8e8e;
    border-radius: 100%;
}

.site-title {
    /* font-size: clamp(1.8em, 5vw, 2em); */
    font-size: clamp(1.2rem, 5vw, 2.2rem);
    /* font-size: clamp(1.5rem, 5vw, 2.2rem); */
    /* margin: 0 .1em .2em; */
}

.divider {
    font-size: clamp(1.8em, 5vw, 2em);
    margin: 0 .1em .2em;
}

/* #endregion || site header */






/*============================================================
    layout  
============================================================ */
/* #region || layout */


body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
    max-width: var(--site-content-width);
}

.site-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-area: content;
    overflow: hidden;
}







/* =============================================
    END layout
============================================= */
/* #endregion || layout */





/*============================================================
    headings
============================================================ */
/* #region || headings */




h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}





/* =============================================
    END headings
============================================= */
/* #endregion || headings */





/*============================================================
    type scale
============================================================ */
/* #region || type scale */




p,
li {
    font-size: 1.1em;
    margin: 0 0 1em;
}


.font-size-4xl { font-size: 4em; }
.font-size-3xl { font-size: 3em; }
.font-size-2xl { font-size: 2em; }
.font-size-xl { font-size: 1.5em; }
.font-size-lg { font-size: 1.17em; }
.font-size-md { font-size: 1em; }
.font-size-sm { font-size: .83em; }
.font-size-xs { font-size: .76em; }
.font-size-2xs { font-size: .67em; }


blockquote > p::before {
    content: '"';
}

blockquote > p::after {
    content: '"';
}




/* =============================================
    END type scale
============================================= */
/* #endregion || type scale */





/*============================================================
    buttons
============================================================ */
/* #region || buttons */


.add-ratetable-group-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: clamp(1.9em, 6vw, 3em);
    color: white;
    cursor: pointer;
    user-select: none;
}

.convert-btn {
    text-align: center;
    margin: 0;
    border: 1px solid darkgrey;
    border-radius: .3em;
    cursor: pointer;
    height: 100%;
}

.convert-btn:hover {
    background-color: rgba(0,0,0,.1);
}






/* =============================================
    END buttons
============================================= */
/* #endregion || buttons */






/*============================================================
    utilities
============================================================ */
/* #region || utilities */




.hidden {
    display: none;
    visibility: none;
}

.ellipsis {
    max-width: 97%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




/* =============================================
    END utilities
============================================= */
/* #endregion || utilities */




/*============================================================
    animations
============================================================ */
/* #region || animations */






.rainbow { 
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 180% 180%;
  
    -webkit-animation: rainbow 2s ease infinite;
    -z-animation: rainbow 2s ease infinite;
    -o-animation: rainbow 2s ease infinite;
    animation: rainbow 2s ease infinite;
}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }





/* =============================================
    END animations
============================================= */
/* #endregion || animations */





/*============================================================
    media queries
============================================================ */
/* #region || media queries */






/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */







/* =============================================
    END media queries
============================================= */
/* #endregion || media queries */


/*============================================================
    input section
============================================================ */
/* #region || input section */






/* =============================================
    END input section
============================================= */
/* #endregion || input section */





/*============================================================
    slider
============================================================ */
/* #region || slider */



.slider {
    --slider-thumb-size: 2rem;
    --slider-bg-size: calc(var(--slider-thumb-size) - 12px);
    margin: .7em 0 .3em;
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: var(--slider-bg-size); 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: .3em;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
    background: var(--slider-color);
    cursor: pointer;
    border-radius: 1em;
}
  
.slider::-moz-range-thumb {
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
    background: var(--slider-color);
    cursor: pointer;
    border-radius: 1em;
}



/* =============================================
    END slider
============================================= */
/* #endregion || slider */


/*============================================================
    chart
============================================================ */
/* #region || chart */

.chart-container {
    width: 100%;
}


.chart-container {
    /* margin: 0 auto; */
    /* max-width: var(--site-content-width); */
}


/* =============================================
    END chart
============================================= */
/* #endregion || chart */




/*============================================================
    rate tables
============================================================ */
/* #region || rate tables */




/* =============================================
    END rate tables
============================================= */
/* #endregion || rate tables */



/* ============================================================
    1. footer
============================================================ */
/* #region || footer */

.project-info-footer {
    position: static;
    text-align: right;
    bottom: 0;
    right: 0;
    color: black;
    padding: 5px 10px;
    margin-inline: auto;
    width: var(--site-width);
    box-sizing: border-box;
}

@media (max-width: 450px) {
    .footer {
        display: none;
    }
}


/* #endregion || footer */



/* ============================================================
    999. test
============================================================ */
/* #region || test */

/* #header {} */
/* #main {} */
/* #chart-container {} */
/* #rateChart {} */
/* #input-container {} */
/* #ratetable {} */
/* #rateSlider {} */
/* #footer {} */
/* #ratetable-group-template {} */


/* .no-js {} */
/* .site-content {} */
/* .header {} */
/* .header-left {} */
/* .site-icon {} */
/* .divider {} */
/* .site-title {} */
/* .add-group-btn.material-icons-outlined {} */
/* .main {} */
/* .chart-container {} */
/* .rateChart {} */
.input-container {
    margin-inline: 4px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.input-container input[type=number] {
    text-align: center;
    font-size: 1rem;
    border: none;
    background-color: rgba(255,255,255,.7);
    width: 100%;
    font-size: 1.2rem;
    padding-block: .2rem;
    box-sizing: border-box;
}
/* .data-section {} */
/* .ratetable {} */
.data-row {
    margin-block: .07rem;
}
.data-cell {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--ratetable-bg-color, rgb(205, 205, 205));
    margin: 2px;
    border-radius: .4rem;
}
/* .data-cell.convert {} */
/* .convert-btn {} */
/* .convert-btn {} */
/* .data-cell.stats {} */
/* .data-cell-title {} */
/* .rate-input.totalDelta {} */
/* .data-row.slider-container {} */
/* .slider {} */
/* .footer {} */
/* .project-info-footer {} */
.ratetable-group {
    margin-block: .4rem;
}
/* .ratetable-group input {} */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}

.ratetable-group .data-row:first-child {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.ratetable-group .data-row:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.data-row.convert {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
/* .data-row.ratetable-typesection {} */
/* .data-cell.rate-type {} */
.ratetype-selector {
    appearance: none;
    border: none;
    text-align-last: center;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,.1);
}
/* .data-cell.max {} */
/* .data-cell-title {} */
/* .rate-input.maxAngularVel {} */
/* .data-row {} */
/* .data-cell.rc_rate {} */
/* .data-cell-title {} */
/* .rate-input.rc_rate_input {} */
/* .data-cell.rate {} */
/* .data-cell-title {} */
/* .rate-input.rate_input {} */
/* .data-cell.rc_expo {} */
/* .data-cell-title {} */
/* .rate-input.expo_input {} */



/* #endregion || test */

