/*============================================================
    welcome
============================================================ */
/* #region || welcome */
/* Table Of Contents





welcome
imports
resets
theme
\\light mode
\\dark mode
layout

headings
type scale

buttons
navigation

animations
media queries







INSPIRATION

*/
/* =============================================
    END welcome
============================================= */
/* #endregion || welcome */





/*============================================================
    temp
============================================================ */
/* #region || temp */

.colorpop {
    transition: all 200ms ease-out;
}

.positive {
    background-color: #ddffd6;

}
.negative {
    background-color: #ffd6d6;

}

.page-title {
    text-align: center;
    font-size: clamp(1.5em, 5vw, 2.5em);
}

.add-ratetable-group {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    cursor: pointer;
}

.ratetable-deletesection {
    text-align: right;
    vertical-align: bottom;
    width: 16px;
}

.ratetable-delete {
    font-size: 14px;
    border-radius: 100%;
    filter: opacity(.2);
    cursor: pointer;
}

.ratetable-delete:hover {
    filter: opacity(.9);
}

.active {
    background-color: rgba(0,0,0,.08);
}

.ratetable {
    width: 100%;
    /* border-style: hidden; */
}

.ratetable-container {
    max-width: clamp(400px, 550px,100%);
    padding: 1em .5em .5em;
    border: 1px solid #d1d1d1;
    margin: 0 auto;
    border-radius: .8em;
    box-shadow: 1px 1px 9px -3px #b6b6b6;
}

/* .slider-container {
    margin: 0 auto;
    width: clamp(350px, 550px,100%);
} */

.slider {
    margin: .7em 0 .3em;
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 16px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: .3em;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: var(--slider-color);
    cursor: pointer;
    border-radius: 1em;
}
  
.slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: var(--slider-color);
    cursor: pointer;
    border-radius: 1em;
}

.chart-container {
    margin: 0 auto;
    max-width: 850px;
}

.ratetable-header {
    font-size: 80%;
}


.ratetable td {
    padding: 2px;
    /* border: 1px solid #d1d1d1; */
}

.ratetable-header td {
    padding: .1em .4em;
}

.ratetable .stats{
    text-align: center;
    font-size: .8em;
}

.ratetable input, .ratetable select {
    width: 100%;
    box-sizing: border-box;

}


/* =============================================
    END temp
============================================= */
/* #endregion || temp */




/*============================================================
    imports
============================================================ */
/* #region || imports */

/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap"); */
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"); */

/* @import url("./normalize.css?v=000"); */
/* @import url("./html5boilerplate.css?v=000"); */
/* @import url("./mediaqueries.css?v=000"); */


/* =============================================
    END imports
============================================= */
/* #endregion || imports */





/*============================================================
    resets
============================================================ */
/* #region || resets */


ul[class] {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


ul[class] li {
    margin: 0;
    font-size: inherit;
}


ul[class] a {
    text-decoration: inherit;
    color: inherit;
}


button, input[type=button] {
    font: inherit;
    font-size: inherit;
}

.material-icons {
    font-size: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}



/* =============================================
    END resets
============================================= */
/* #endregion || resets */






/*============================================================
    theme
============================================================ */
/* #region || theme */




/* #region || light mode */
@media (prefers-color-scheme: light ) {
    :root {

        --slider-color: #6e6e6e;
        
        --color-primary: #fcfcfc;
        --color-secondary: #747474;
        --color-accent: #18810e;

        --rateColor0: #FF8080;
        --rateColor1: #80FF80;
        --rateColor2: #8080FF;
        --rateColor3: #60F5FF;
        --rateColor4: #FCAF54;

        --color-neutral-100: hsl(0, 0%, 90%);
        --color-neutral-300: hsl(0, 0%, 70%);
        --color-neutral-500: hsl(0, 0%, 50%);
        --color-neutral-900: hsl(214, 6%, 24%);

        --font-color-light: var(--color-neutral-100);
        --font-color-dark: var(--color-neutral-900);
        --border-color-primary: var(--color-neutral-500);

        --font-size-4xl: 4em;
        --font-size-3xl: 3em;
        --font-size-2xl: 2em;
        --font-size-xl: 1.5em;
        --font-size-lg: 1.17em;
        --font-size-md: 1em;
        --font-size-sm: .83em;
        --font-size-xs: .76em;
        --font-size-2xs: .67em;
    }


    html {
        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
        font-size: 100%;
        line-height: 1.2;
        color: var(--font-color-dark);
    }

    body {
        /* background-color: var(--color-neutral-100); */
    }

    
    h1,h2,h3,h4,h5,h6 {
        color: var(--font-color-dark);
    }


}
/* #endregion || light mode */




/* #region || dark mode */
/* @media (prefers-color-scheme: dark ) {} */
/* #endregion || dark mode */



.rate0 {background-color: var(--rateColor0);}
.rate1 {background-color: var(--rateColor1);}
.rate2 {background-color: var(--rateColor2);}
.rate3 {background-color: var(--rateColor3);}
.rate4 {background-color: var(--rateColor4);}


/* =============================================
    END theme
============================================= */
/* #endregion || theme */




/*============================================================
    layout  
============================================================ */
/* #region || layout */




/* #region || temp colors */
/* .view { background-color:       rgb(205,205,205); } */
/* .navigation { background-color: rgb(205,226,221); } */
/* .content { background-color: rgb(100,226,221); } */
/* .header { background-color:     rgb(255,211,205); } */
/* .toolbar { background-color:    rgb(255,155,123); } */
/* .main { background-color:    rgb(123,155,255); } */
/* .footer { background-color:      rgb(225,123,215); } */
/* #endregion || temp colors */





/* :root {} */

body {
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    min-height: 100vh;
    margin: 0;
}


.navigation {
    grid-area: navigation;
    /* position: sticky; */
    /* bottom: 0; */
}


.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-area: content;
    overflow: hidden;
}

.header {
    grid-area: header;
    /* position: sticky; */
    /* top: 0; */
}


.toolbar {
    grid-area: toolbar;
}


.main {
    flex-grow: 1;
    grid-area: main;
}


.footer {
    grid-area: footer;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}





/* =============================================
    END layout
============================================= */
/* #endregion || layout */





/*============================================================
    headings
============================================================ */
/* #region || headings */




h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}





/* =============================================
    END headings
============================================= */
/* #endregion || headings */





/*============================================================
    type scale
============================================================ */
/* #region || type scale */




p,
li {
    font-size: 1.1em;
    margin: 0 0 1em;
}


.font-size-4xl { font-size: 4em; }
.font-size-3xl { font-size: 3em; }
.font-size-2xl { font-size: 2em; }
.font-size-xl { font-size: 1.5em; }
.font-size-lg { font-size: 1.17em; }
.font-size-md { font-size: 1em; }
.font-size-sm { font-size: .83em; }
.font-size-xs { font-size: .76em; }
.font-size-2xs { font-size: .67em; }


blockquote > p::before {
    content: '"';
}

blockquote > p::after {
    content: '"';
}




/* =============================================
    END type scale
============================================= */
/* #endregion || type scale */





/*============================================================
    buttons
============================================================ */
/* #region || buttons */









/* =============================================
    END buttons
============================================= */
/* #endregion || buttons */





/*============================================================
    navigation
============================================================ */
/* #region || navigation */









/* =============================================
    END navigation
============================================= */
/* #endregion || navigation */





/*============================================================
    utilities
============================================================ */
/* #region || utilities */




.hidden {
    display: none;
    visibility: none;
}

.ellipsis {
    max-width: 97%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




/* =============================================
    END utilities
============================================= */
/* #endregion || utilities */




/*============================================================
    animations
============================================================ */
/* #region || animations */







@keyframes wobble {
    0% {
    }
    25% {
    }
    50% {
    }
    100% {
    }
}







/* =============================================
    END animations
============================================= */
/* #endregion || animations */





/*============================================================
    media queries
============================================================ */
/* #region || media queries */






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}







/* =============================================
    END media queries
============================================= */
/* #endregion || media queries */